<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/oades/AutomationPractice">
        <parameter name="appDriver" value="chrome"/>
        <classes>
            <class name="CommonPackage.BrowserSetUp"/>
        </classes>
    </test>
</suite>