<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Regression">
        <parameter name="appUrl" value="http://www.phptravels.net/"/>
        <parameter name="appDriver" value="chrome"/>
        <classes>
            <class name="CukeSetUp.RunCukes"/>
        </classes>
    </test>
</suite>